*{box-sizing: border-box;}
.title{
background-color: pink;
color: maroon;
padding: 1em;
text-align: center;
}
.img1, .img2, .img3, .img4{
    width: 45%;
    margin: 2%;
}
.img1{
    border-radius: 15px;
    box-shadow: 2px 2px 3px lightblue;
}
.img2{
    border-radius: 50%;
}
.img3{
    border: saddlebrown 10px inset;
    padding: 1em;
    background-color: bisque;
}
.img4{
    box-shadow: 0px 0px 3px 2px plum;
}
.img5{
    border: honeydew 10px inset;
    padding: 1em;
    background-color: darksalmon;
}
.img6{
    box-shadow: 0px 0px 3px 2px royalblue
}